@inject ITimesheetRepository repository

<div class="table-responsive-sm">
    <table class="table table-bordered table-sm small">
        <thead class="thead-dark">
            <tr @onclick="(()=> EditShift())">
                <th scope="col">Date</th>
                <th scope="col">Start</th>
                <th scope="col">Finish</th>
                <th scope="col">Break</th>
                <th scope="col">Hrs</th>
                <th scope="col">Other</th>
            </tr>
        </thead>
        <tbody>

            @if (displayWeek == null)
            {
                <div><p>Loading...</p></div>
            }
            else
            {
                @foreach (WorkShift ws in displayWeek)
                {
                    @if (ws == null)
                    {
                        <tr class="clickable">
                            <td class="small">Need date</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>....</td>
                        </tr>
                    }
                    else
                    {
                        <tr class="clickable">
                            <td class="small">@ws.ShiftDate.ToString("ddd dd/MM")</td>
                            <td>@ws.ShiftStart.ToString("HH:mm tt")</td>
                            <td>@ws.ShiftEnd.ToString("HH:mm tt")</td>
                            <td>@ws.HrsBreak.ToString("0.00")</td>
                            <td>@ws.HrsNorm.ToString("0.00")</td>
                            <td>....</td>
                        </tr>
                    }

                }
            }

        </tbody>
    </table>
</div>


@code{
    [Parameter] public DateTime DateOfWeek { get; set; }

    public WorkWeek displayWeek;

    private void EditShift()
    {
        Console.WriteLine("Clicked A row!");
    }

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(2000);

        displayWeek = repository.GetWorkWeek("GordonFreeman", DateTime.Now);
    }

    //https://www.codeply.com/p?starter=Bootstrap%204 

}
